<%- include('./partials/header') %>

<div class="blog-head-main">
  <div class="blog-head">
    <h1>What is waste management? </h1>
    <p>Waste management is a term that refers to all of the various actions taken and plans created to manage waste, from composting or recycling existing waste to minimizing the production of waste in the first place. 
      You’ll sometimes hear “waste management” used interchangeably with “waste disposal,” but that’s not quite accurate. The latter is actually just one potential component of waste management – and waste management covers the entire lifecycle of waste, from its creation through to its disposal or recovery.
      Because we currently produce so much waste – plastic waste alone comes to 400 million tons annually – managing it all is a complex process, and different countries and regions have created different answers to the challenge. Even some states and counties have come up with their own systems on this front. 
      </p>
  </div>
    <div class="blog-image">
      <img src = ".\css\assets\premium_photo-1679607652654-795f81397b22.jpeg">
    </div>
</div>

<div class="waste-methods">
  <div class="waste-method-head">

    <h2>Different waste management methods </h2>
    <p>
      When you think of different types of waste management, the first image you have may be of disposal in a landfill. But there are other, more beneficial ways to handle the problem, including recycling, incineration, waste-to-energy, and anaerobic digestion. Let's look into these different options in more detail. 
    </p>

  </div>

    <div class="waste-methods-list">
      <ul class="waste_method_list_items">
        <li>
          <h3>Recycling </h3>
          <p>
            Recycling is a key part of a circular economy because it involves processing materials that would otherwise become waste, and instead turning them into new items.
            Recycling is far preferable to disposal because it reduces waste while also reducing the amount of energy needed to manufacture products – and yet, only 9% of plastic is recycled worldwide.
          </p>
        </li>
        <li>
          <h3>Incineration </h3>
          <p>Waste incineration involves burning hazardous materials at temperatures high enough to destroy contaminants. This method reduces the amount of material that gets dumped in landfills, which has a positive impact.
            However, incineration releases chemicals and pollutants into the air, which are harmful to both the environment and to humans. 
            </p>
        </li>
        <li>
          <h3>Waste-to-energy</h3>
          <p>This process takes non-hazardous waste and combusts it rather than dumping it in a landfill. It’s a good alternative to landfills because the combustion process generates energy. This way, waste can be converted into electricity and/or steam power</p>
        </li>
        <li>
          <h3>Landfill</h3>
          <p>A landfill is a piece of land that’s used as a dumping ground for solid waste. This method often contaminates soil and groundwater. It’s also antithetical to the concept of a circular economy because landfill waste is not repurposed or reintroduced into the lifecycle.  </p>
        </li>
      </ul>
    </div>
</div>

<div class="importance_waste">
  <h2>
    The importance of waste management
    </h2>

    <p>As long as we are producing waste, it will need to be managed. And we produce a lot of it: over two billion metric tons of MSW are generated globally every year, a figure that’s expected to grow by about 70% by 2050.
      It’s clear that waste must be managed. But the way in which we manage the waste matters, too – when it’s managed properly, it can do a lot of great things for the environment.
      </p>
    </div>
    <div class="importance_waste_image">
      <img width="1150px" src=".\css\assets\Barcode-recycling-service-Revolutionizing-Waste-Management--The-Role-of-Barcode-Recycling-Services--The-Importance-of-Waste-Management.webp">
    </div>

<%- include('./partials/footer') %>